.button {
  padding: 0.5rem 1rem;
  border: 2px solid;

  font-family: monospace;
  font-weight: 700;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  border-color: var(--border-interactive);
  color: var(--button-text);
}

.button:hover {
  background-color: var(--button-background-hover);
  color: var(--button-text-hover);
}
