@import url('@Styles/mediaQueries.css');


:root {
  /* font-weight */
  --thin        : 100;
  --extra-light : 200;
  --light       : 300;
  --regular     : 400;
  --medium      : 500;
  --semi-bold   : 600;
  --bold        : 700;
  --extra-bold  : 800;
  --black       : 900;

  /* line-height */
  --leading-none    : 1.000;
  --leading-packed  : 1.250;
  --leading-tight   : 1.375;
  --leading-snug    : 1.450;
  --leading-normal  : 1.500;
  --leading-relaxed : 1.625;
  --leading-loose   : 2.000;

  /* letter-spacing */
  --tracking-tighter  : -0.050em;
  --tracking-tight    : -0.025em;
  --tracking-normal   :  0.000em;
  --tracking-wide     :  0.025em;
  --tracking-wider    :  0.050em;
  --tracking-widest   :  0.100em;
}

@layer typography {
  body {
    font-family:      var(--font-geist-mono);
    font-weight:      var(--regular);
    font-size:        var(--16px);
    line-height:      var(--leading-normal);
    color:            var(--text-primary);
    background-color: var(--bg-color);
  }

  h1, h2, h3 {
    font-family:      var(--font-geist-mono);
  }

  h1 {
    font-size:        var(--32px);
    font-weight:      var(--medium);
    line-height:      var(--leading-packed);
    margin-block:     var(--24px);
  }
  h2 {
    font-size:        var(--24px);
    font-weight:      var(--regular);
    line-height:      var(--leading-normal);
    margin-block:     var(--20px);
  }
  h3 {
    font-size:        var(--20px);
    font-weight:      var(--regular);
    line-height:      var(--leading-normal);
    margin-block:     var(--16px);
  }


  @media (--from-laptop) {
    h1 {
      font-size:      var(--64px);
      margin-block:   var(--48px);
    }
    h2 {
      font-size:      var(--32px);
      margin-block:   var(--24px);
    }
  }
}
